.btnThumb {
  display: flex;
  justify-content: center;

  margin-bottom: 20px;
}

.btnLoad {
  display: block;
  background-color: #2a3a75;
  border: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 25px;
}

.btnLoad:hover,
.btnLoad:focus {
  background-color: #15214b;
}
